@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --background-color: black;
    --text-color-gray: gray;
    --text-color-white: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family: "Open Sans", serif;
    scroll-behavior: smooth;
}

/* -- HEADER -- */

#header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
    .logo{
        padding: 10px 0 10px 20px;
    }
        .logo img{
            cursor: pointer;
            width: 120px;
        }
    .search{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
        .search button{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1f1f1f;
            border: none;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            cursor: pointer;
        }
            .search button img{
                background: none;
                width: 30px;
            }
        .search div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .search div img{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #1f1f1f;
                border-radius: 25px 0 0 25px;
                width: 48px;
                height: 48px;
                padding: 0 10px 0 15px;
            }
            .search div input{
                color: white;
                font-weight: 600;
                font-size: 15px;
                background-color: #1f1f1f;
                border: none;
                width: 370px;
                height: 48px;
                border-radius: 0 25px 25px 0;
                padding: 0 10px 0 0;
            }
    .profile{
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0 10px 0 0;
    }
        .profile button{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1f1f1f;
            border: none;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            cursor: pointer;
        }
            .profile button img{
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

/* -- MAIN -- */
#main{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    gap: 10px;
}
    #lists h3{
        color: var(--text-color-gray);
    }
    .recently{
        display: flex;
    }
        .recently img{
            width: 48px;
            border-radius: 10px 0 0 10px;
        }
        .recently p{
            display: flex;
            align-items: center;
            background-color: rgb(179, 179, 179, 0.2);
            color: var(--text-color-white);
            border-radius: 0 10px 10px 0;
        }